
header {
    background: #00A7FF;;
    position:fixed;
    height: 50px;
    width: 98.8%;
}
nav{
    word-spacing:10px;
    margin-top:-1px;
    float: left;
}
nav ul li {
    display:inline-grid;
    list-style: none;
}
nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 22px;
    color:white;
}
.conten{text-align: center;
        text-align: justify;
}
.footer{height: 25px;
        width:100%;
        background-color:blue;
        text-align: center;
}
